/*-- Variables -- */
	/*-- Colors --*/
	$transparent: rgba(0,0,0,0);
	$dark-grey: #323232;
	$oat-milk: #f6f1eb;
	/*-- Fonts --*/
	$OpenSans: 'Open Sans', sans-serif;
/*-- Mixins --*/
@import './mixins/__flexbox';
@import './mixins/__animate';
/*-- Primary Containers --*/
* {
	box-sizing: border-box;
}

html, body {
	padding:0;
	margin: 0;
	height: 100%;
	width: 100%;
}

html {
	overflow: hidden;
}

body {
	@include flexbox;
	@include flex-direction(column);
	@include flex-wrap(nowrap);
	@include justify-content(flex-start);
	@include align-items(stretch);
	@include align-content(stretch);
	background: $oat-milk;
}

#root {
	overflow-y: auto;
	overflow-x: hidden;
}

/*-- Pages --*/
.landingPage {
	.header-container {
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		height: 90vh;
	}

	h1 {
		font-family: $OpenSans;
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 0.5em;
		margin-right: -0.5em; /* offset last letter's letter-spacing */
	}

	h2 {
		font-family: $OpenSans;
	}

	.efLogo {
		height: 30vh;
		padding-right: 23px;
		fill: $dark-grey;
	}
}
