/*-- Variables -- */
	/*-- Colors --*/
	$transparent: rgba(0,0,0,0);
	$light-grey: #9d9c9c;
	$dark-grey: #323232;
	$oat-milk: #f6f1eb;
	$rust: #c33625;
	$muted-rust: #c48077;
	/*-- Fonts --*/
	$OpenSans: 'Open Sans', sans-serif;
/*-- Mixins --*/
@import './mixins/__flexbox';
@import './mixins/__animate';
/*-- Primary Containers --*/
* {
	box-sizing: border-box;
	font-family: $OpenSans, sans-serif;
}

html, body {
	padding:0;
	margin: 0;
	height: 100%;
	width: 100%;
}

html {
	overflow: hidden;
}

body {
	@include flexbox;
	@include flex-direction(column);
	@include flex-wrap(nowrap);
	@include justify-content(flex-start);
	@include align-items(stretch);
	@include align-content(stretch);
	background: $oat-milk;
}

#root {
	overflow-y: auto;
	overflow-x: hidden;
}

/*-- Base --*/
.navContainer {
	@include flexbox;
	@include flex-direction(row);
	@include justify-content(flex-end);
	
	width: 100%;
	padding: 0 4vw;
}

.navLink {
	padding: 10px;
	text-decoration: none;
	cursor: pointer;
	color: $light-grey;
	@include transition(all 0.3s ease);

	&:visited {
		color: $light-grey;
	}

	&:hover {
		color: $dark-grey;
	}
}

.inlineLink {
	text-decoration: none;
	cursor: pointer;
	color: $muted-rust;
	@include transition(all 0.3s ease);

	&:visited {
		color: $muted-rust;
	}

	&:hover {
		color: $rust;
	}
}

/*-- Pages --*/
.landingPage {
	.header-container {
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		height: 90vh;
	}

	h1 {
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 0.5em;
		margin-right: -0.5em; /* offset last letter's letter-spacing */
	}

	.efLogo {
		height: 30vh;
		padding-right: 23px;
		fill: $dark-grey;
	}
}

.aboutPage {
	.aboutContainer {
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);

		height: 80vh;
	}
}

.projectPage {
	.projectContainer {
		height: 80vh;
	}
}

/*-- Layout Components --*/
.flexBox {
	@include flexbox;
	@include flex-direction(row);
	@include justify-content(center);
	@include align-items(center);
	
	&.flexBox--direction-column {
		@include flex-direction(column);
	}
}

.collapsibleContainer {
	@include transition(all 0.3s ease);
	overflow: hidden;
	max-height: 50vh;

	&.isCollapsed {
		max-height: 0vh;
	}
}
